/* ------------------------------------------------------------------------------------ div items > */
.pokerContainer {
    width: 1700px;
    display: flex;
    flex-direction: column;
}
.canvasContainer {
    min-width: 1700px;
    min-height: 1000px;
    position: relative;
}
.poker {
    width: 100%;
    height: 100%;
    border: 3px solid rgb(19, 19, 19);
    background-image: radial-gradient(circle, #11751d, #02570C);
}
.flexBox {
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: space-between;
}
/* ------------------------------------------------------------------------------------ game state div items > */
.gameState0Container, .gameState1Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.gameState1Container {
    background-color: rgba(19, 19, 19, 0.25);
    border: 3px solid rgb(19, 19, 19);
    padding-top: 20px;
}
.gameState2Container {
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 2;
}
/* ------------------------------------------------------------------------------------ button items > */
.playButton {
    color: #F5EEE3;
    width: 220px;
    height: 70px;
    margin-top: 60px;
    border: 3px solid rgb(19, 19, 19);
    border-radius: 5px;
    font-weight: bold;
    font-size: 300%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-image: radial-gradient(circle, #BA2B2D, #972426);
}
.difficultyButton {
    color: #F5EEE3;
    width: 220px;
    height: 70px;
    margin: 40px 20px 20px;
    border: 3px solid rgb(19, 19, 19);
    border-radius: 5px;
    font-weight: bold;
    font-size: 220%;
    cursor: pointer;
    background-image: radial-gradient(circle, rgb(40,40,40), rgb(20,20,20));
}
.homeButton {
    width: 60px;
    height: 60px;
    border: 2px solid rgb(19, 19, 19);
    border-radius: 5px;
    position: absolute;
    top: calc(50% - 450px);
    left: calc(50% - 475px);
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
    background-image: radial-gradient(circle, rgb(236, 236, 236), rgb(88, 88, 88));
}
.clickToContinueButton {
    color: #F5EEE3;
    width: 100%;
    height: 100%;
    padding: 40px;
    border: 3px solid rgb(19, 19, 19);
    font-weight: bold;
    font-size: 300%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(20,20,20,0.3);
}
/* ------------------------------------------------------------------------------------ simple styling items > */
.logo {
    width: 250px;
    height: 250px;
    margin-right: 40px;
}
.heading1 {
    font-size: 500%;
    white-space: nowrap;
}
.heading3 {
    font-size: 420%;
    white-space: nowrap;
}
.whiteText {
    color: #F5EEE3;
}