.container {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/background.jpg");
    background-size: cover;
    background-position: center;
}