/* ------------------------------------------------------------------------------------ div items > */
.flexBox {
    display: flex;
    align-items: center;
}
.footer {
    position: fixed;
    bottom: 0;
    background-image: radial-gradient(circle, rgba(15, 15, 15) 40%, rgba(0, 0, 0) 100%);
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.footerMain {
    height: 100%;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ------------------------------------------------------------------------------------ simple styling items > */
.heading4, .heading4MarginRight {
    font-size: 130%;
}
.heading4MarginRight {
    margin-right: 20px;
}
.heading5MarginRight {
    font-size: 110%;
    margin-right: 10px;
}
.logoIcon, .logoIconMarginRight {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    background-color: transparent;
    cursor: pointer;
}
.logoIconMarginRight {
    margin-right: 30px;
}
.whiteText {
    text-decoration: none;
    color: #F5EEE3;
}