.sidebar {
    background-color: rgba(20, 20, 20, 0.50);
    border: 2px solid rgb(20, 20, 20);
    height: 600px;
    width: 160px;
    margin: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebarAd {
    height: 600px;
    width: 160px;
    cursor: pointer;
    border: 2px solid rgb(20, 20, 20);
}